@charset "utf-8";
/* CSS Document */

body{
	background-color: #8b8b8b;
}

#currentlyAdmittedPatients{
	width: 80%;
	height: 40%;
	overflow:scroll;
	margin-left: auto;
	margin-right: auto;
	background-color: #ebebeb;
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,.46);
	-moz-box-shadow: 0 0 25px rgba(0,0,0,.46);
	box-shadow: 0 0 25px rgba(0,0,0,.46);
}



.columnHeadings {
	font-family:sans-serif;
  	margin:0;
  	padding:20px 0 0;
}
.columnHeadings > li {
	display:inline;
	padding:10px;
  	box-shadow: inset 0 1px 0 #fff;
}
.patientIDHeading{
	display: inline-block;
	width: 19%;
	margin-bottom: 0;
	margin-top: 0;
}
.patientNameHeading{
	display: inline-block;
	width: 20%;
	margin-bottom: 0;
	margin-top: 0;
}
.patientAgeHeading{
	display: inline-block;
	width: 10%;
	margin-bottom: 0;
	margin-top: 0;
}
.medicalConditionHeading{
	display: inline-block;
	width: 20%;
	margin-bottom: 0;
	margin-top: 0;
}
.dateAdmittedHeading{
	display: inline-block;
	width: 19%;
	margin-bottom: 0;
	margin-top: 0;
}





.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  display:inline;
}
.patientID{
	display: inline-block;
	width: 19%;
	margin-bottom: 0;
	margin-top: 0;
}
.patientName{
	display: inline-block;
	width: 20%;
	margin-bottom: 0;
	margin-top: 0;
}
.patientAge{
	display: inline-block;
	width: 10%;
	margin-bottom: 0;
	margin-top: 0;
}
.medicalCondition{
	display: inline-block;
	width: 20%;
	margin-bottom: 0;
	margin-top: 0;
}
.dateAdmitted{
	display: inline-block;
	width: 19%;
	margin-bottom: 0;
	margin-top: 0;
}
input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px;
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}